<div class="container">
  <div id="add-stock">
    <%= render 'add_stock' %>    <!--  input bar to add a new stock to the list -->
  </div>
  <div class="stock">
    <div class="stock-info">
      <%= render 'stock_info' %>  <!-- will display stock information for ticker -->
    </div>
    <div class="stock-chart">
    </div>
  </div>
</div>