/* utility tools used for debugging etc.. */
.d {
  border: 1px solid red;  /*debug*/
}

body {
  background-color: #131314;
}

.stock-info {
  background-color: #1F2123;
  color: #E2E2E3;
  margin: 1em;
}

.com-name {
  color: #AD4040;
}

.quote {
  color: white;
}
